body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

button {
    background-color: grey;
    color: white;
    border-radius: 4px;
    
}

#vending-items {
    padding: 0 10px;
}

#viewCartButton {
    font-size: 1em;
    padding: .5em 3em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#instructions {
    text-align: center;
}

#items-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    width: 70vw;
    margin: 10px auto;
}

.item-for-sale {
    background-color: gray;
    padding-bottom: .5em;
    margin: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 30%;
    font-size: .8em;
}

.clicked {
    border: 6px solid yellowgreen;
    background-color: lightgray;
    color: gray;
}

.item-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.name {
    color: white;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.item-info {
    color: white;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
}

#cart {
    border-top: 4px solid white;
    margin-top: 30px;
}

#items-in-cart {
    list-style: none;
    padding-left: 0;
    width: 70vw;
    margin: auto;
}

#cartCalculator {
    padding-left: 0;
    width: 70vw;
    margin: auto;
}


#receipt {
    height: 800px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {

    button:hover {
        background-color: white;
        color: gray;
    }

    .item-for-sale:hover {
        background-color: white;
        color: grey;
    }

    .item-for-sale:hover p {
        color: gray;
    }
    
  }
