[hidden] {
    display: none !important;
  }

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    padding-bottom: 30px;
}

h1 {
    color: white;
    text-align: center;
}

button {
    background-color: grey;
    color: white;
    border-radius: 4px;
    border: none;
}

#vending-items {
    padding: 5px 10px;
    border: 3px solid grey;
    border-radius: 5px;
    width: 70vw;
    margin: 20px auto;
    max-width: 600px;
}

#viewCartButton, #closeReceipt {
    font-size: 1em;
    padding: .5em 3em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#instructions {
    text-align: center;
}

#categories {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    max-width: 600px;
    margin: 0px auto;
    align-items: center;
    border-bottom: 2px solid gray;
}

.categoryP {
    text-align: center;
    width: 30%;
    margin-bottom: 0;
    font-size: 1.2em;
    margin-top: 0;
}

#superPowers {
    font-family: 'Bangers', cursive;
    letter-spacing: .1em;
}

#magicItems {
    font-family: 'Bad Script', cursive;
}

#wishfulThinking {
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
}

#items-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 10px auto;
}

.item-for-sale {
    background-color: gray;
    padding-bottom: .5em;
    margin: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 30%;
    font-size: .8em;
}

.clicked {
    border: 6px solid lightseagreen;;
    background-color: lightgray;
    color: gray;
}

.item-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.name {
    color: white;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.item-info {
    color: white;
    text-align: center;
    margin: 0;
    padding: 0 4px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#cart {
    margin-top: 30px;
}

#cart-lists {
    display: flex;
    width: 70vw;
    max-width: 600px;
    margin: 0 auto;
}

#items-in-cart {
    list-style: none;
    padding-left: 0;
    flex: 2;
}

#prices-in-cart {
    list-style: none;
    padding-left: 0;
    flex: 1;
}

#cartCalculator {
    text-align: right;
    padding-left: 0;
    width: 70vw;
    max-width: 600px;
    margin: auto;
}

#receipt {
    border: 5px solid lightseagreen;
    color: black;
    min-height: 60%;
    width: 85%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
}

#receiptItemsContainer {
    list-style: none;
}

.receiptText {
    text-align: center;
}

h4 {
    font-size: 30px;
}

.product {
    border-bottom: 1px dotted white;
    color: lightgrey;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 3px;
    white-space: nowrap;
}

.product-price {
    border-bottom: 1px dotted white;
    color: lightgrey;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: right;
    padding-bottom: 3px;
}

#cartEmpty {
    text-align: center;
}

#cart-buttons {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    max-width: 600px;
    margin: 0 auto;
}

.cart-button {
    width: 150px;
    height: 50px;
}

#choosePaymentOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    max-width: 600px;
    margin: 10px auto;
}

#creditCardButton, #cashButton {
    width: 150px;
    height: 50px;
}

#creditCardForm, #cashForm {
    width: 70vw;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#creditCardForm[hidden], #cashForm[hidden] {
    display: none;
}

input {
    margin-bottom: 5px;
}

#continueShopping2 {
    font-size: 12px;
    margin-top: 70px;
    margin-left: 20px;
    width: 125px;
    height: 25px;  
}

#creditPurchaseSubmit, #cashPurchaseSubmit {
    background-color: lightseagreen;
    margin-top: 5px;
    padding: 8px;
}

#ccLogo {
    max-width: 125px;
    height: auto;
}

@media only screen and (min-width: 768px) {

    button:hover {
        background-color: white;
        color: gray;
    }

    .item-for-sale:hover {
        background-color: white;
        color: grey;
    }

    .item-for-sale:hover p {
        color: gray;
    }
    
    .categoryP, .item-for-sale {
        font-size: 1em;
    }
  }

  @media only screen and (min-width: 1000px) {
    #bigFlex {
        display: flex;
        max-width: 1300px;
        margin: 0 auto;
        
    }

    #vending-items {
        width: 100%;
        flex: 1;
        margin-left: 30px;
        
    }

    #categories {
        width: 100%;
    }

    #cart {
        padding: 30px;
        flex: 1;
    }

    #cart-lists {
        width: 100%;
    }

    #cartCalculator {
        width: 100%;
    }

    #cart-buttons {
        width: 100%;
    }

    #viewCartButton {
        display: none;
    }



  }

