body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    padding-bottom: 30px;
}

h1 {
    color: white;
    text-align: center;
}

button {
    background-color: grey;
    color: white;
    border-radius: 4px;
    
}

#vending-items {
    padding: 5px 10px;
    border: 5px solid white;
    border-radius: 5px;
    width: 70vw;
    margin: 20px auto;
}

#viewCartButton {
    font-size: 1em;
    padding: .5em 3em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#instructions {
    text-align: center;
}

#categories {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    margin: 0px auto;
    align-items: flex-end;
}

.categoryP {
    text-align: center;
    width: 30%;
    margin-bottom: 0;
    font-size: .8em;
}

#items-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 10px auto;
}

.item-for-sale {
    background-color: gray;
    padding-bottom: .5em;
    margin: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 30%;
    font-size: .8em;
}

.clicked {
    border: 6px solid yellowgreen;
    background-color: lightgray;
    color: gray;
}

.item-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.name {
    color: white;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.item-info {
    color: white;
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#cart {
    margin-top: 30px;
}

#cart-lists {
    display: flex;
    width: 70vw;
    margin: 0 auto;
}

#items-in-cart {
    list-style: none;
    padding-left: 0;
    flex: 2;
}

#prices-in-cart {
    list-style: none;
    padding-left: 0;
    flex: 1;
}

#cartCalculator {
    text-align: right;
    padding-left: 0;
    width: 70vw;
    margin: auto;
}

#receipt {
    height: 800px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product {
    border-bottom: 1px dotted white;
    color: lightgrey;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 3px;
}

.product-price {
    border-bottom: 1px dotted white;
    color: lightgrey;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: right;
    padding-bottom: 3px;
}

#cartEmpty {
    text-align: center;
}

#cart-buttons {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;
}

.cart-button {
    width: 150px;
    height: 50px;
}

#choosePaymentOption {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 10px auto;
}

#creditCardButton, #cashButton {
    width: 150px;
    height: 50px;
}

/* .creditCardFormStyle, .cashFormStyle {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} */


#continueShopping2 {
    width: 150px;
    height: 50px;
}

@media only screen and (min-width: 768px) {

    button:hover {
        background-color: white;
        color: gray;
    }

    .item-for-sale:hover {
        background-color: white;
        color: grey;
    }

    .item-for-sale:hover p {
        color: gray;
    }
    
    .categoryP, .item-for-sale {
        font-size: 1em;
    }
  }
